RewriteEngine On
RewriteBase /

# Si el archivo o directorio existe, sírvelo directamente
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Si no existe, sirve index.html (SPA)
RewriteRule . index.html [L]
